.ajustar_imagen{
    width: 300px;
    height: auto;
    display: block;
    margin: auto;
}
.cuerpo_resolucion{
    background-color: rgb(231, 77, 77);
}
table{
    border:5px #000 solid;
    text-align: center;
    border-collapse: collapse;
}
td{
    border: 1px black solid;
    padding: 5px;
}
.ajustar_imagen2{
    width: 300px;
    height: auto;
    display: block;
    margin: auto;
}
.perrito{
    
    border:10px #000 none;
}
.leblanc{
    border-top: 0px;
}